body {
	margin: 0;
	font-family: "Noto Sans", sans-serif;
}

#app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flashCards-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.flashCards {
	position: relative;
	margin: 1em 2em;
	text-align: center;
	padding: 2em 1.5em;
	height: 100px;
	max-height: 100px;
	user-select: none;
	border-radius: 10px;
}

.flashCards > .cardText {
	font-size: 2em;
}

#delete-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.inputArea {
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	padding: 40px 0;
}

.inputArea > textarea,
.inputArea > input {
	display: block;
	box-sizing: border-box;
	font-size: 1.5em;
}
